ZZZ_FunkcijeKojeNeTrebaju.txt
.venv
DDD_DetekcijaPEakova_Ivan.png
Dodato.txt
ZZZ_UcitavanjePodatakaSaProveromDaLiJeProbio.txt
ZZZ_FilterPoSrednjojVrednostiRazlike.txt
test.py
ZZZ_SklanjaZareze.txt
MMM_TestiranjeTacnostiSignala.txt